.root{
    -fx-border-radius: 150.0;
    -fx-background-radius: 150.0;
    -fx-padding: 5.0;
    -fx-scale-shape     : true; 
    -fx-background-color: rgba(95.0, 158.0, 160.0, 0.9);
}
.button
{
	-fx-background-color: transparent;
}
#textnormal
{
	-fx-text-fill: black; -fx-font-weight: bold;
}
#textred
{
	-fx-text-fill: red; -fx-font-weight: bold;
}
.modal-dialog {
  -fx-padding: 5.0;
  -fx-spacing: 10.0;
  -fx-alignment: center;
  -fx-border-width: 5.0;
  -fx-background-color: transparent;
  -fx-background-insets: 12.0;
  -fx-border-insets: 10.0;  
}

.modal-dialog:pressed {
  -fx-cursor: move;
}

.modal-dialog .button:pressed {
  -fx-cursor: default;
}
